{
  "scripts": {
    "generate-api-client": "ts-node scripts/generate-api-client.ts"
  },
  "devDependencies": {
    "@openapitools/openapi-generator-cli": "^2.7.0",
    "js-yaml": "^4.1.0",
    "ts-node": "^10.9.1"
  }
}
